.cadre {
	border					: 1px solid #555555;
	padding					: 5px;
	
	/*arrondir les coins en haut à gauche et en bas à droite*/
	-moz-border-radius		: 10px 10px 10px 10px;
	-webkit-border-radius	: 10px 10px 10px 10px;
	border-radius			: 10px 10px 10px 10px;
}


.clear {clear				: both;}

figure {
	margin					: 0;
	padding					: 10px;
	background				: white;
	border					: 1px solid #dadada;
}

.font-small {
	font-size				: small;
}