hr {
	border 		: 0;
	border-top	: 1px solid #D9D9D9;
}

form label, form.formulaire a {
    display:block;
    width:150px; /* Attention : prenez une largeur suffisamment grande */
    float:left;
}

input[type="password"], input[type="text"], textarea {
	border-radius			: 3px;
	-moz-border-radius		: 3px;
	-webkit-border-radius	: 3px;
}

input[type="password"], input[type="text"], select, textarea {
	background-color		: #F6F6F6;
	border-color			: #DADADA;
	color					: #555;
	border					: 1px solid #D9D9D9;
}

input[type="password"], input[type="text"], textarea, select {
	padding					: 5px;
}
