body {
	background-color	: #555555; 	
}

.clear {
	clear				: both; 
}

.wrapper {
	margin 				: auto;
	margin-top			: 10px;
	padding				: 10px;
	width 				: 995px;
	background-color	: #FFFFFF; 	
}

header {
	padding 			: 10px;
	border				: 1px solid #D9D9D9;
}

nav{
	margin 				: 10px 0;
	padding 			: 10px;
	border				: 1px solid #D9D9D9;
}

section {
	width 				: 741px;	
	float 				: left;
	margin-left			: 10px;
	padding 			: 10px;
	border				: 1px solid #D9D9D9;
}

aside {
	width 				: 200px;
	float 				: left;
	padding 			: 10px;
	border				: 1px solid #D9D9D9;
}

footer {
	clear				: both;
	margin-top			: 10px;
	padding 			: 10px;
	border				: 1px solid #D9D9D9;
}
